body {
    height: 100%;
    width: 100%;
    font-size: 16px;
    overflow-x: hidden;
    background: papayawhip;
    text-align: center
}

#App {
    height: 55em;
    width: 118em;
    background-color: silver;
    margin: 0.5em auto;
    border-radius: 5px;
    filter: progid:DXImageTransform.Microsoft.Shadow(color=black, direction=120, strength=4);
    -moz-box-shadow: 4px 4px 20px black;
    -webkit-box-shadow: 4px 4px 20px black;
    box-shadow: 4px 4px 20px black;
}

/*顶部导航栏样式*/
.top {
    /* 设置宽度高度背景颜色 */
    height: 2.5em;
    width: 80em;
    background: gray;
    margin: 0 auto;
    font-size: 1.5em;
    /*border-radius: 5px;*/
}

.top ul {
    /* 清除ul标签的默认样式 */
    width: 80%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

.top li {
    float: left; /* 使li内容横向浮动，即横向排列  */
    margin-right: 1.2em; /* 两个li之间的距离*/
}

.top li a {
    /* 设置链接内容显示的格式*/
    display: block; /* 把链接显示为块元素可使整个链接区域可点击 */
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none; /* 去除下划线 */
}

.top li a:hover {
    /* 鼠标选中时背景变为黑色 */
    background-color: #111;
}

.top ul li ul {
    /* 设置二级菜单 */
    width: auto;
    background: rgb(189, 181, 181);
    position: absolute;
    display: none; /* 默认隐藏二级菜单的内容 */
}

.top ul li ul li {
    /* 二级菜单li内容的显示 */
    margin-right: 0;
    /*float: none;*/
    text-align: center;
}

.top ul li:hover ul {
    /* 鼠标选中二级菜单内容时 */
    display: block;
}

/*顶部导航栏样式结束*/

#datas, #datass {
    display: none;
}

#left_box {
    width: 17%;
    height: 80%;
    left: 0.6em;
    top: 15%;
    float: left;
}

#msgs {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

#guan {
    height: 25%;
    width: 100%;
}

#guan img {
    height: 10em;
    width: 10em;
    margin-left: 11%;

}

#box {
    height: 70%;
    width: 95%;
    /*border: 1px solid black;*/
    border-radius: 5px;
    margin-left: 1em;
    filter: progid:DXImageTransform.Microsoft.Shadow(color=black, direction=120, strength=4);
    -moz-box-shadow: 4px 4px 20px black;
    -webkit-box-shadow: 4px 4px 20px black;
    box-shadow: 4px 4px 20px black;
}

#left_title {
    height: 10%;
    width: 100%;
}

#left_content {
    height: 89%;
    width: 100%;
}

#bangdan {
    width: 90%;
    height: 100%;
    font-weight: bold;
    float: left;
    text-align: center;
}

#uname {
    display: none;
}

#left_img {
    width: 10%;
    height: 60%;
    float: left;
}


#right_box {
    width: 82%;
    height: 100%;
    float: right;
}

#add {
    width: 100%;
    height: 100%;
    margin: 4em auto;
}

#add_title input{
    height: 2em;
}

#add_music {
    width: 25%;
    height: 20%;
    float: left;
    text-align: center;
    margin-top: 3em;
}

#add_img {
    width: 25%;
    height: 20%;
    float: left;
    text-align: center;
    margin-top: 3em;
}


#add_classes select{
    width: 80%;
    height: 2em;
    font-size: 1.2em;
}

#add_type select{
    font-size: 1em;
    height: 2em;
    width: 50%;
}





#add_details textarea {
    font-size: 1em;
    overflow: scroll;
    font-weight: bold;
}

#add_imgshow {
    width: 100%;
    height: 60%;
    border: 1px solid #000;
    border-radius: 10px;
}

#inputimg{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
#add_submit {
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 2em;
}

#music_right {
    width: 98%;
    height: 100%;
}

#music_top {
    width: 100%;
    height: 10%;
    float: left;
}

#musictitle {
    font-size: 30px;
    height: 100%;
    float: left;
    width: 20%;
    font-weight: bold;
    margin-top: 0.7em;
    text-align: center;
}

#music {
    border: none;
    outline: none;
    width: 60%;
    float: left;
    margin-top: 1em;
    text-align: center;
}

#contents{
    height: 85%;
    width: 85%;
    background-color: white;
    margin: 5% auto;
    border-radius: 10px;
}
#show{
    height: 100%;
    width:100%;
}
#txarea {
    border-radius: 5px;
    font-size: 1.5em;
}

#commentsshow{
    background: rgba(47, 63, 89, 0.8);
    z-index: 1001;
    border: 1px solid rgba(47, 63, 89, 0.8);
    border-radius: 10px;
    width: 600px;
    height: 380px;
    position: absolute;
    left: 50%;
    margin-left: -300px;
    top: 50%;
    margin-top: -190px;
    filter: progid:DXImageTransform.Microsoft.Shadow(color=black, direction=120, strength=4);
    -moz-box-shadow: 4px 4px 20px black;
    -webkit-box-shadow: 4px 4px 20px black;
    box-shadow: 4px 4px 20px black;
}
#imgshow{
    background: honeydew;
    z-index: 1001;
    border: 1px solid honeydew;
    border-radius: 5px;
    width: 1200px;
    height: 650px;
    position: absolute;
    left: 50%;
    margin-left: -600px;
    top: 50%;
    margin-top: -350px;
    filter: progid:DXImageTransform.Microsoft.Shadow(color=black, direction=120, strength=4);
    -moz-box-shadow: 4px 4px 20px black;
    -webkit-box-shadow: 4px 4px 20px black;
    box-shadow: 4px 4px 20px black;
}

#sub_comment {
    border-radius: 5px;
    height: 3em;
    width: 6em;
    background-color: #91b8b3;
}

#right_btn {
    width: 20%;
    float: left;
    height: 100%;
    margin-top: 0.7em;
    text-align: center;
}

#right_btn button {
    background-color: #91b8b3;
    border: 1px solid #00bafa;
    width: 8em;
    float: left;
    height: 4em;
    border-radius: 7px;
    margin-left: 30%;
    outline: none;
    color: white;
}
#inputdiv{
    height: 5%;
    width: 100%;

}
/*表格*/
#right_contents {
    height: 80%;
    width: 99%;
    float: right;
    filter: progid:DXImageTransform.Microsoft.Shadow(color=black, direction=120, strength=4);
    -moz-box-shadow: 1px 1px 10px black;
    -webkit-box-shadow: 1px 1px 10px black;
    box-shadow: 1px 1px 10px black;
    border-radius: 5px;
}

#tb {
    width: 99%;
    height: 90%;
    text-align: center;
}

#table_title {
    height: 2em;
    width: 99%;
    vertical-align: top;
}

#table_title td {
    font-size: 1.5em;
    font-weight: bold;

}

#table_content {
    vertical-align: top;
}

.right_img {
    height: 2em;
    width: 2em;
}

.selimg {
    border-radius: 5px;
    border: 1px solid black;
    outline: none;
    height: 2em;
    width: 70%;
    background:silver;
    color: black;
    font-weight: bold;
}

.selimg2 {
    border-radius: 5px;
    border: 1px solid darkkhaki;
    outline: none;
    height: 2em;
    width: 40%;
    text-align: center;
    float: right;
}

#right_details {
    width: 5%;
    font-weight: bold;
    vertical-align: middle;
}

#right_details textarea {
    height: 100%;
    background: transparent;
    outline: none;
    font-size: 1em;
    text-align: center;
    border: 0px;
}

#right_btn2{
    border: 1px solid silver;
    outline: none;
    background-color: silver;
    border-radius: 50px;
}

/*分页按钮*/
#pagec {
    text-align: center;
}

.pagechange {
    outline: none;
    height: 3em;
    width: 6em;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid yellowgreen;
}


/*搜索框*/
*{box-sizing: border-box;}
.search {padding: 1em 0}
#f {
    position: relative;
    width: 15em;
    margin: 0 auto;
}
.search {background: silver;}
.search:after {content:""; clear:both; display:table}
.search #f {
    width: auto;
    float: right;
    margin-right: 1em;
}
.search input {
    width: 18em;
    height: 3em;
    padding-left: 1em;
    border-radius: 2em;
    border: 2px solid #324b4e;
    background: #F9F0DA;
    outline: none;
    position: relative;
    transition: .3s linear;

}
.search input:focus {
    width: 22em;
}
.search button {
    width: 2.5em;
    height: 3em;
    background: none;
    border: none;
    position: absolute;
    right: 0;
    outline: none;
}
.search button:before{
    outline: none;
    content: "\f002";
    font-family: FontAwesome;
    color: #324b4e;
}
/**
进度图
 */
.web-width {
    width: 80em;
    height: 50em;
    margin: 0 auto;
    background-color: #91b8b3;
    filter: progid:DXImageTransform.Microsoft.Shadow(color=black, direction=120, strength=4);
    -moz-box-shadow: 4px 4px 20px black;
    -webkit-box-shadow: 4px 4px 20px black;
    box-shadow: 4px 4px 20px black;
    border-radius: 5px;
}
/*添加音频  必要样式*/
.clears {
    clear: both;
}

.for-liucheng {
    width: 80%;
    margin: 30px auto;
    height: 10%;
    padding: 20px 0 0 0;
    position: relative;
}
.content{
    height: 80%;

}
.subtijiao{
    height: 10%;
    width: 40%;
    margin:0 auto;
}
.in{
    height: 3em;
    width: 20em;
    font-size: 0.8em;
    border-radius: 10px;
    border:1px solid;
    outline: none;
    background-color: #91b8b3;
}
#musicdescribe{
    border: 1px solid black;
    background-color: #91b8b3;
    font-size: 0.7em;
}
.contenadd{
    height: 90%;
    width: 40%;
    /*background-color: white;*/
    margin: 0 auto;
    font-size: 1.3em;
}
.subtijiao input{
    background-color: #44c767;
    border:1px solid white;
    height: 60%;
    width: 30%;
    border-radius: 2em;
    outline: none;
    margin-left: 5em;
    color: white;
}
.liulist {
    float: left;
    width: 25%;
    height: 7px;
    background: #ccc;
}

.liutextbox {
    position: absolute;
    width: 100%;
    left: 0;
    top: 10px;
}

.liutextbox .liutext {
    float: left;
    width: 25%;
    text-align: center;
}

.liutextbox .liutext em {
    display: inline-block;
    width: 24px;
    height: 24px;
    -moz-border-radius: 24px;
    -webkit-border-radius: 24px;
    border-radius: 24px;
    background: #ccc;
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    font-style: normal;
    font-weight: bold;
    color: #fff;
}

.liutextbox .liutext strong {
    display: inline-block;
    height: 26px;
    line-height: 26px;
    font-weight: 400;
}

.liulist.for-cur {
    background: green;
}

.liutextbox .for-cur em {
    background: green;
}

.liutextbox .for-cur strong {
    color: green;
}

/***
评论table样式
 */
table{
    table-layout:fixed;
    empty-cells:show;
    border-collapse: collapse;
    margin:0 auto;
}
.tb{
    background-color: slategrey;
}
td{
    height:30px;
}
h1,h2,h3{
    font-size:12px;
    margin:0;
    padding:0;
}
.table{
    border:1px solid #cad9ea;
    color:#666;
}
.table th {
    background-repeat:repeat-x;
    height:30px;
}
.table td,.table th{
    border:1px solid #cad9ea;
    padding:0 1em 0;
}
.table tr.alter{
    background-color:#f5fafe;
}